<body class="bg-custom">
    <ul class="nav">
        <li class="nav-item">
          <!-- <a style="color: white" class="nav-link active font-weight-bold mx-4 mt-3 p-1" href="home.html"><i class="fas fa-arrow-left"></i> Back</a> -->
          <span style="color: white; font-weight: bold; cursor: pointer;" class="nav-link active mt-3 p-1" routerLink="/home"><i class="fas fa-arrow-left px-3"></i>Back</span>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-md-3">
                <p style="margin-top: 20px; color: white; font-weight: 600;">
                    Draw any object from this list in the box and computer would guess it correctly
                </p>
                <div class="text-center list" *ngFor="let name of classes">
                    <p>{{name}}</p>
                </div>
            </div>
            <div class="col-md-6 p-2 text-center">
                <p class="draw-here mb-2">Draw Here</p>
                <!-- <span class="btn btn-sel m-2" (click)="this.cvs.rubberOn=true; this.cvs.draw=false; this.cvs.linewidth=10;" [class.btnbg]="this.cvs.rubberOn">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                    {{rubber}}
                    {{btnname}}
                    {{cvs.linewidth}}
                </span>
                <span class="btn btn-sel m-2" (click)="this.cvs.draw=true; this.cvs.rubberOn=false; this.cvs.linewidth=5" [class.btnbg]="this.cvs.draw">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </span> -->
                <!-- <div style="width: 95%; height: 300px;" id="canvas-div">
                    <canvas class="draw" #mycanvas></canvas>
                </div>      -->
                <app-my-canvas (send)="view($event)" (sendw)="getW($event)" (sendw)="getH($event)" (sendImg)="getImg($event)"></app-my-canvas>
                <div class="row mt-5">
                    <div class="col-md-12 draw-here">
                        <h4>{{result}} </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col">
                        <button type="button" class="p-2 btn-confirm" type="submit" (click)="save()">Guess</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="p-2 btn-cancel" type="submit" #clear (click)="cls()">Clear Canvas</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>