<body class="bg-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="mt-4" style="cursor: pointer;" routerLink="/">
                    <img src="assets/qdr-icon.png" class="title" alt="icon" width="90px" height="90px">
                </div>
            </div>
            <div class="col-md-4 text-center mt-4 p-3 title">
                Quick Draw Recogniser
            </div>
            <div  class="col-md-4"></div>
        </div>
    
        <div class="row mt-5 p-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center select mx-3" routerLink="/create">
                    <!-- button -->
                    Create Dataset
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    
        <div class="row mb-5 p-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center select mx-3" routerLink="/play">
                    <!-- button -->
                    Play
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    
        <!-- <div class="row">
            <div class="col-md desc"> -->
                <!-- <p>Project made by <a href="https://github.com/Adityaupadhye" target="_blank">Aditya Upadhye</a>
                    and <a href="https://github.com/1-raj-2" target="_blank">Atharvraj Patil</a>
                    <br>Electrical Engineering, COEP</p> -->
            <!-- </div>
        </div> -->
    </div>
    <footer class="desc">
        <p>Project made by <a href="https://github.com/Adityaupadhye" target="_blank">Aditya Upadhye</a>
            and <a href="https://github.com/1-raj-2" target="_blank">Atharvraj Patil</a>
            <br>Electrical Engineering, COEP</p>
    </footer>
</body>